/* convert px to rem, 10px = 1rem */
:root {
    --primery-color: rgba(146,204,205,255);
    --background-text-color:rgba(49,52,61,255);
    --body-text-color:#445876;
}
/* margin-top 30px */
.mt-30{
    margin-top: 3rem;
}
html , body {
    
}

.grid {
    width: 150rem;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__column-2 {
    width: 16.666%;
}

.grid__column-10 {
    width: 83.333%;
}

.grid__column-10-5 {
    width: 50%;
}

.grid__column-10-2 {
    width: 20%;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    height: 13rem;
    background-color: var(--background-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
   
}

.header__title-link {
    display: block;
    font-size: 7rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--background-text-color);
    background-color: var(--primery-color);
    padding: 0 2rem 0 10rem;
}

.header__nav {
    padding-right: 9rem;
    
}

.header__nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
}

.header__nav-item {
    display: flex;
    align-items: center;
    
}

.header__nav-link {
    display: block;
    font-size: 2.4rem;
    color: var(--primery-color);
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    border-bottom: 4px solid var(--primery-color);
}
/* Slider */
.slider {
    position: relative;
}

.slider__img {
    padding-top: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider__img-subtitle {
    color: var(--background-text-color);
    background-color: var(--primery-color);
    position: absolute;
    content: "";
    display: block;
    font-size: 4.5rem;
    min-width: 42rem;
    height: 6rem;
    right: 10rem;
    bottom: 3rem;
    padding: 1rem;
    line-height: 4.5rem;
}
/* Body */
/* About me */
#About-Me .section__heading {
    padding: 0 1.5rem 14rem 0;
    
}

.section__heading {
    padding-right: 1.5rem;
    font-size: 4.4rem;
    color: var(--body-text-color);
    text-align: right;
    border-right: 5px solid var(--body-text-color);
}

.section__descr {
    padding: 0 2rem 0px 3rem;
    font-size: 1.8rem;
    color: #6f8bb5;
    line-height: 1.5;
}
/* Work */
#Work .section__heading {
    padding: 0 1.5rem 98rem 0;
}

.section__img {
    position: relative;
    padding: 1rem 1rem 0 3rem;
}

.section__img--full {
    position: relative;
    width: 100%;
    height: 55rem;
    background-size: 100%;
    background-position: center;
    border: 0.5rem solid var(--primery-color);
    background-repeat: no-repeat;
    padding-top: 50%;
    
}
/* hover change rgba */
.section__img--full:hover::after {
    cursor: pointer;
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(173, 104, 14, 0.5);
}


.section__img-app {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    min-width: 15rem;
    height: 8rem;
    background-color: var(--primery-color);
    text-align: left;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.section_img-title {
    display: block;
    font-size: 3rem;
    color: var(--body-text-color);
    font-weight: 700;
}

.section__img-descr {
    display: block;
    font-size: 1.3rem;
}

.section__img-left {
    position: relative;
    margin: 0 1rem 0 3rem;
}

.section__img-right {
    position: relative;
    margin: 0 1rem 0 1rem;
}

.section__img--half-left {
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-position: center;
    border: 0.5rem solid var(--primery-color);
    background-repeat: no-repeat;
}

.section__img--half-left:hover::after {
    cursor: pointer;
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(14, 173, 35, 0.5);
}

.section__img--half-right {
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-position: center;
    border: 0.5rem solid var(--primery-color);
    background-repeat: no-repeat;
}


.section__img--half-right:hover::after {
    cursor: pointer;
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(41, 53, 155, 0.5);
}

/* COntact */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
}

.contact__social {
    margin-top: 5rem;
    text-align: center;
    margin-right: 2rem;
}

.contact__link {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    color: var(--body-text-color);
    border-bottom: 5px solid var(--body-text-color);
}

/* Responsive */
/* pc */
@media screen and (min-width:1024px) {
    
}

/* tablet */
@media  screen and (min-width:740px) and (max-width:1023px) {

    .header__nav {
        display: none;
    }

    .grid__column-2 {
        display: none;
    }

    .grid__full-width {
        width: 100%;
    }

    .section__img,
    .section__img-left,
    .section__img-right{
        padding: 0;
        margin: 1rem 0 0 0;
    }
    .section__img--full {
        margin: 0;
        padding: 0;
        
    }

    .section__img-right {
        margin-top: 3rem;
    }

}

/* Mobile */
@media screen and (max-width:739px) {
    .header__title-link {
        display: block;
        font-size: 4rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--background-text-color);
        background-color: var(--primery-color);
        padding: 0 2rem 0 2rem;
        width: 100%;
        max-width: 40rem;
    }

    .slider__img-subtitle {
        color: var(--background-text-color);
        background-color: var(--primery-color);
        position: absolute;
        content: "";
        display: block;
        font-size: 2rem;
        min-width: 10rem;
        height: 6rem;
        right: 5rem;
        bottom: 3rem;
        padding: 1rem;
        line-height: 4.5rem;
    }

    .header__nav {
        display: none;
    }

    .grid__column-2 {
        display: none;
    }

    .grid__full-width {
        width: 100%;
    }

    .section__img,
    .section__img-left,
    .section__img-right{
        padding: 0;
        margin: 1rem 0 0 0;
    }
    .section__img--full {
        margin: 0;
        padding: 50% 0 0 0;
       height: 20rem;
    }

    .section__img-right {
        margin-top: 3rem;
    }
}